h2{
    text-align: center;
    color: blue;
}
label{;
    color: bisque;
    padding: 10px;
}
button{
    background-color: blue;

}
html{
    background-color: white;
    padding: 50px;
}
select{
    color: black;
}
div{
    color:white
}